@model IEnumerable<prj.Models.TableDoctors1081649>
@{
	ViewBag.Title = "";
}

<h2>病例新增</h2>
<form method="post" action="@Url.Action("Create")">
	<div class=" form-horizontal">
		<hr />
		<div class="form-group">
			<label for="看診編號" class="control-label col-md-2">看診編號</label>
			<div class="col-md-10">
				<input type="text" id="看診編號" name="看診編號"
					   class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label for="身分證字號" class="control-label col-md-2">身分證字號</label>
			<div class="col-md-10">
				<input type="text" id="身分證字號" name="身分證字號"
					   class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label for="姓名" class="control-label col-md-2">姓名</label>
			<div class="col-md-10">
				<input type="text" id="姓名" name="姓名"
					   class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label for="看診原因" class="control-label col-md-2">看診原因</label>
			<div class="col-md-10">
				<input type="text" id="看診原因" name="看診原因"
					   class="form-control" required />
			</div>
		</div>

		<div class="form-group">
			<label for="看診日期" class="control-label col-md-2">看診日期</label>
			<div class="col-md-10">
				<input type="date" id="看診日期" name="看診日期"
					   class="form-control" required />
			</div>
		</div>
		<div class="form-group">
			<label for="負責醫生編號" class="control-label col-md-2">負責醫生編號</label>
			<div class="col-md-10">
				<select id="負責醫生編號" name="負責醫生編號" class="form-control">
					@foreach (var item in Model)
					{
						<option value="@item.負責醫生編號">@item.醫生姓名</option>
					}
				</select>
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="新增" class="btn btn-default" />
			</div>
		</div>
	</div>

</form>

